body {
    background-color: rgb(28, 45, 46);
    color: white;
    margin: 5%;
}

header {
    background-color: rgb(130, 207, 207);
    text-align: center;
    padding: ;
}
.logo {
    font-size: 40px;
    text-align: left;
}
h1 {
    padding: 5%;
}
}
.about {
    grid-area: about;
}
.articles {
    grid-area: articles;
}
.facebook {
    grid-area: facebook;
}
.insta {
    grid-area: insta;
}
.section-1 {
    grid-area: section-1;
}
.section-2 {
    grid-area: section-2;
}
.section-3 {
    grid-area: section-3;
}
div {
    text-align: justify;

}





@media (min-width: 992px) {


}
.grid-container {
    display: grid;
    grid-template-areas:
     "section-1 section-2 section-3";


}
div {
    margin: 2%;
}
@media (max-width: 576px) {
.grid-container {
    display:grid;
    grid-template-areas:
        "about"
        "articles"
        "facebook"
        "insta"
        "section-1"
        "section-2"
        "section-3";

}